

    <div class="main-container">

        <aside class="sidebar">
<!-- integrar .module on un share para que reciva el modulo actual -->
          <div class="module"><p><strong>Productos</strong></p></div><hr>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Clientes</a></li>
                <li><a href="#contacto">Empleados</a></li>
                <li><a href="#contacto">Contabilidad</a></li>
                <li><a href="#contacto">Punto de Venta</a></li>
                <li><a href="#contacto">Ajustes</a></li>
                <li id="last" ><a href="#contacto">Soporte </a></li>


            </ul>

        </aside>


    </div>

